.card {
    max-width: 400px;
    margin-bottom: 8px;
}

.card-header {
    align-self: center;
}

.card-actions {
    align-self: end;
}

.card-content {
    text-align: center;
}

.main-div{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}